.new-entry {
  background-color: var(--colorDark);
  color: var(--colorPrimary);
  font-family: var(--fontFraktionLight);
}

.date-container {
  display: flex;
  align-items: baseline;
}

.entry-headline {
    font-size: 3rem;
    margin-left: 8rem;
}

.all-input {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.entry-label {
  margin-bottom: .7rem;
}

.entry-input {
  padding: 3rem;
}

.morning {
  width: 25%;
  margin-left: 8rem;
}

.sun-svg,
.moon-svg {
  padding-bottom: 1.5rem;
  font-size: 4rem;
}

.focus,
.affirmations {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}

.evening {
  width: 25%;
  margin-right: 8rem;
}

.journal-input,
.mood {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}

.mood-picker {
  display: flex;
}

.btn-icon {
  padding-right: 1rem;
}

.btn-icon:hover {
  transform: scale(1.1);
}

.add-img {
  color: var(--colorPrimary);
}

.c-s-buttons {
  display: flex;
  justify-content: end;
  padding: 5rem 0 2rem 0;
}

.cancel {
  border: 1px solid var(--colorPrimary);
  margin-right: 2rem;
}

.icon-edit-icon:before {
  content: "\e900";
  color: var(--colorPrimary);
  font-size: xx-large;
}

.icon-happiest-emoji:before {
  content: "\e901";
  color: var(--colorPrimary);
  font-size: xx-large;
}

.icon-happy-emoji:before {
  content: "\e902";
  color: var(--colorPrimary);
  font-size: xx-large;
}

.icon-sad-emoji:before {
  content: "\e906";
  color: var(--colorPrimary);
  font-size: xx-large;
}

.icon-saddest-emoji:before {
  content: "\e907";
  color: var(--colorPrimary);
  font-size: xx-large;
}

