.new-entry__wrap {
  width: 85%;
  max-width: 900px;
}

.new-entry__title{
  font-family: var(--fontFraktionBold);
  font-size: 20px;
  color: var(--colorPrimary);
  margin-bottom: 1rem;
  position: relative;
}

.new-entry {
  background-color: var(--colorDark);
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  margin: auto 0;
  justify-content: center;
  padding: 6rem 0rem 2rem 0rem;
}
/*Textinn í input notar ekki allan input-field, staðsetur sig í miðju*/
.new-entry__input {
  width: 100%;
  position: relative;
  padding: .5rem;
  font-family: var(--fontFraktionBold);
  font-size: 1rem;
  /*padding: 0.8rem 15rem;*/
  height: 5rem;
  background-color: var(--colorPrimary);
  margin: 1rem 0;
}

.add-btn {
  float: right;
  border: 1px solid var(--colorDark);
}

.add-btn:hover {
  border: 1px solid var(--colorPrimary);
}
