.entry-list {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 6rem;
  padding-top: 1rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--colorPrimary);
  z-index: 10;
}

.daily-h1 {
  font-size: 5rem;
  text-align: left;
  padding-left: 8rem;
  color: var(--colorDark);
}

.btns {
  display: flex;
  justify-content: flex-end;
  margin-right: 8rem;
  max-height: 46px;
}

.btn-entry {
  margin-right: 2rem;
  
}