.entry-list {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}

.logo {
  font-size: 5rem;
  text-align: left;
  padding-left: 8rem;
  color: var(--colorDark);
}

.btns {
  display: flex;
  justify-content: end;
  margin-right: 2rem;
  max-height: 46px;
}

.btn-entry {
  margin-right: 2rem;
}

.icon-plus-icon:hover {
    color: var(--colorDark);
}
