.entry {
  background-color: #fff8f2;
  color: #303030;
  height: 10em;
  padding: 1em;
  width: 10em;
  margin: 1em;
  text-decoration: none;
  display: flex;
  transition: all ease 0.3s;
}

.entry:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.entry__content {
  text-align: left;
}

.entry__title {
  /* font-size: larger; */
  font-family: var(--fontFraktionBold);
}

.entry__text {
  font-family: var(--fontFraktionLight);
}

.entry__date {
  font-size: 3rem;
  font-family: var(--fontBelleHeavy);
}
