.entry {
  background-color: var(--colorPrimary);
  color: var(--colorDark);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all ease 0.3s;
  margin-top: 4rem;
}

.entry:hover {
  transform: scale(1.02);
}

.entry__content {
  font-family: var(--fontFraktionLight);
  display: flex;
  flex-direction: column;
  width: 85%;
  max-width: 900px;
}

.entry-text {
  border: none;
  background-color: var(--colorPrimary);
  line-height: 1.3rem;
  height: 9rem;
}

textarea {
  resize: none;
}

.entry__date {
  font-size: 3rem;
  font-family: var(--fontBelleHeavy);
  width: 30%;
  text-align: right;
  padding: 1rem 4rem 1rem 4rem;
  letter-spacing: 0.3rem;
}

.monthname {
  font-size: 1.5rem;
  font-family: var(--fontFraktionLight);
  letter-spacing: 0.5rem;
}

.entry:nth-child(even) .entry__date {
  order: 5;
  text-align: left;
}

.entry:nth-child(even) .entry__content .entry__controls {
  align-self: flex-end;
}

.entry__controls {
  display: flex;
  margin-top: 0.5rem;
}

.entry__controls button:not(:last-child) {
  margin-right: 10px;
}

.entry__controls button:hover {
  border: 1px solid var(--colorDark);
  color: var(--colorDark);
  background-color: var(--colorPrimary);
}
