.btn {
  background-color: var(--colorDark);
  color: var(--colorPrimary);
  border: 1px solid var(--colorDark);
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-family: var(--fontFraktionBold);
  text-decoration: none;
  transition: all ease 0.3s;
}
.btn[class^="icon-"],
.btn[class*=" icon-"] {
  padding-left: 3rem;
}

.btn-light {
  background-color: var(--colorPrimary);
  color: var(--colorDark);
}

.btn-dark:hover {
  background-color: var(--colorPrimary);
  color: var(--colorDark);
}

.btn-light:hover {
  background-color: var(--colorDark);
  color: var(--colorPrimary);
}
